/* main */
body {
   margin: 0;
   background-color: #fff ;
   font-family:sans-serif;
   background-size: cover;
}

/* nav-main */
.nav {
    margin-top: 0px;
    height: 74px;
    background-color: #FCE2DB;
    border-bottom: 2px solid #282327;
    display: flex;
    flex-direction: row;
}

/* nav-logo */
.nv1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    
}
.lg {
    display: flexbox;
    color: 282327;
    width: 50%;
    text-align: center;
    height: 74px;
}

/* nav-slogan*/
.nv3 {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
}
.nv-slgn {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-top: auto;
}
.nv-slgnP {
    color: #282327;
    font-style: italic;
    font-size: 18px;
}
/* nav--menu-bar */
.nv4 {
    
    display: flex;
    flex-direction: column;
    width: 27%;
    margin-left: auto;
}
.nv4-1 {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-right: -10px;
    margin-left: -20px;
}
.nv4-ul {
    list-style-type: none;
   text-align: center;
}
.nv4-ul a {
    text-decoration: none;
    color: #282327;
    float: left;
    margin-right: 15px;
}

/* social-media */
.nv2 {
    display: flex;
    flex-direction: column;
    width: auto;
}

.nvscl1 {
    display: flex;
    text-align: center;
    margin-top: auto;
}

.nvscl-ul {
    list-style-type: none;
    margin-left: auto;
   
}
.nvscl-ul a {
    text-decoration: none;
    color: #282327;
    float: left;
    margin-right: 10px;
}

/* nav - end */

/* container */
.container {

    display: flex;
}

.ffs {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FCE2DB;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.pic {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin-top: 21px;
}

.pic img {
    border-radius: 30%;
    width: 400px;
    height: 400px;
    margin-left: auto;
    
}

.ttx {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}

.ttx-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ttx-2 {
    display: flex;
    flex-direction: column;
    color: #282327;
}

.ttx-2 span {
    text-align: center;
    font-size: 24px;
}

.ttx-2 p {
    text-align: center;
    font-size: 18px;
}
/* container -- first look end */

.arbslk {
    display: flex;
    flex-direction: row;
    width: 75%; 
    justify-content:start;
    color: #282327;
    margin-top: 50px;
}

.arbslk span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* card -- */
.c_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    width: 75%;
    background-color: #fff;
    border-radius: 12px;
}

.cr1 {
    display: flex;
    flex: 0;
    flex-wrap: wrap;
    flex-direction: row;
    width: 29%;
    background: #fff;
    margin-top: 17px;
    margin-left: auto;
    border-radius: 10px;
    margin-right: auto;
    border: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 17px;
    box-shadow: 5px 5px 7px 7px  rgb(192, 192, 192);
}

.tp1 {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.bt1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}


.btn-crd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}
.btn-crd-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btnsj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border-style: none;
    width: 140px;
    height: 45px;
    background-color:rgba(219, 214, 214, 0.229) ;
    box-shadow: 0px 8px 15px  rgb(0, 0, 0, 0.1);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.btnsj:hover {
    background-color: #FCE2DB;
    box-shadow: 0px 15px 20px rgba(176, 115, 170, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
