/* main */
* {}


body {
    margin: auto;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    background-size:auto;
    
}

/* nav-main */
.nav {
    margin-top: 0px;
    height: 54px;
    background-color: rgb(42, 41, 41);
    display: flex;
    flex-direction: row;
    position: fixed;
    min-width: 767px;
    width: 100%;
    transition: 200ms ease-in-out background-color,
    200ms ease-in-out color;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

/* nav-logo */
.nv1 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.lg {
    display: flexbox;
    width: 50%;
    text-align: center;
    height: 74px;
}

.logo-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 44px;
    background-color: rgba(227, 227, 227, 0);
    font-size: 18px;
    font-weight: 500;
    border: none;
    transition: all 0.1s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
    float: left;
    margin-left: 14px;
    margin-top: 9px;
}

.logo-btn:hover {
    color: #fff;
}

/* nav-slogan*/
.nv3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    min-width: 0px;
}

/* nav--menu-bar */
.nv4 {

    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 767px;
    min-width: 564px;
    justify-content: center;
}

.nv4-1 {
    display: flex;
    justify-content: center;
    margin-top: auto;
    max-width: 767px;

}

.nv4-ul {
    list-style-type: none;
    text-align: center;
    min-width: 540px;
}

.nv4btn a {
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
    text-align: center;

}

.nv4btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    width: 85px;
    height: 35px;
    background-color: rgba(227, 227, 227, 0);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgba(222, 164, 57, 0.635);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    margin-right: 15px;
}

.nv4btn i {
    margin-bottom: 2px;
}

.nv4btn:hover p {
    color: #fff;
}

.nv4btn:hover a {
    color: #fff;
}

/* social-media */
.nv2 {
    display: flex;
    flex-direction: column;
    width: 6%;
    max-width: 767px;
    min-width: 90px;
    justify-content: center;
}

.nvscl1 {
    display: flex;
    text-align: center;
    margin-top: auto;
    max-width: 767px;
    
}

.nvscl-ul {
    list-style-type: none;
    padding: 0;
}

.nvscl-ul a {
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
    float: left;
    margin-right: 5px;
}

.nvscl-ul a:hover {
    color: #fff;
}

/* nav - end */

/* container */
.container {
    display: flex;
    min-width: calc(100% - 2.5rem);
}

.ffs {
    display: flex;
    height: 400px;
    flex-direction: row;
    width: 100%;
    background-color: rgb(42, 41, 41);
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    background-image: url(/media/—Pngtree—devices\ responsive\ web\ design_3540001.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: +150px;
    margin-top: 27px;
    min-width: 832px;
    align-items: center;
    justify-content: flex-end;
}



.ttx {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.ttx-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ttx-2 {
    display: flex;
    flex-direction: column;
    color: rgba(222, 164, 57, 0.635);
    text-shadow: 3px 3px 6px rgba(179, 178, 178, 0.546);
    justify-content: center;
}

.ttx-2 span {
    text-align: start;
    font-size: 48px;
}

/* container -- first look end */
/* welcome */
.standart {
    display: flex;
    justify-content: center;
}
.welcome {
    display: flex;
    flex-direction: row;
    min-width: (100% - 2.5rem);
    justify-content: center;
    width: 560px;
}

.wwr {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;

}

.wwr-txt {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.853);
    text-shadow: 1px 1px 3px rgba(91, 91, 91, 0.546);
}

.wwr-txt span {
    text-align: center;
    font-size: 36px;
}
/* welcome - end */
/* opening --  */
.open {
    width: 100%;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    height: auto;
}

.media {
    display: flex;
    flex-direction: row;
    max-width: 767px;
    width: 60%;
    background-image: url(/media/notepad-g6899cf114_1920\ kopyala.jpg);
    background-repeat: no-repeat;
    background-size: auto 380px;
    background-position: center;
    height: 380px;
    justify-content: center;
    
}


.p_ {
    margin-top: 4px;
    margin-left: 17px;
    font-size: 16px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.853);
    width: 20%;
    font-family: 'Times New Roman', Times, serif;
}

.p_2 {
    margin-top: 4px;
    margin-left: 125px;
    font-size: 16px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.853);
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    
}
/* card -- */
.c_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    width: 85%;
    background-color: #fff;
    min-width: 1074px;
    max-width: 1113;
}

.cr1 {
    display: flex;
    flex: 0;
    flex-wrap: wrap;
    flex-direction: row;
    width: 29%;
    background: rgba(227, 227, 227,0);
    margin-top: 25px;
    margin-left: auto;
    border-radius: 10px;
    margin-right: auto;
    border: 2px solid rgba(227, 227, 227, 0.1);
    padding-bottom: 10px;
    margin-bottom: 17px;
    box-shadow: 0px 5px 10px rgba(32, 32, 32, 0.511);
}

.tp1 {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.tp1 i {
    margin-left: 50px;
    margin-top: 25px;
}

.bt1 {

    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.bt1-p {
    font-size: 13px;
    text-align: start;
    margin-left: 7px;
    font-style: normal;
    font-weight: 600;
    text-indent: 7px;
    color:rgba(0, 0, 0, 0.853);
    margin-right: 3px;
}

.btn-crd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.btn-crd-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btnsj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-style: none;
    width: 130px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.853);
    box-shadow: 0px 8px 15px rgba(91, 91, 91, 0.546);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.btnsj a {
    color: #fff;
}

.btnsj:hover {
    background-color: rgba(255, 255, 255, 0.763);
    box-shadow: 0px 15px 20px rgba(32, 32, 32, 0.511);
    color: #000;
    transform: translateY(-7px);
}

.btnsj:hover a {
    color: #000;
}

/* cards--end */

/* altbaslık- */
.altbslk {
    display: flex;
    flex-direction: row;
    flex: 0;
    width: 85%;
    justify-content: center;
    margin-left: 8%;
    margin-top: 34px;
    padding-bottom: 21px;
}

.btn-alt {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    width: 130px;
    height: 35px;
    background-color: rgba(255, 241, 9, 0.853);
    box-shadow: 0px 8px 15px rgba(222, 164, 57, 0.635);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.btn-alt:hover {
    background-color: rgba(7, 152, 222, 0.763);
    box-shadow: 0px 15px 20px rgba(48, 78, 195, 0.611);
    color: #fff;
    transform: translateY(-7px);
}

/* altbaslık--end */

/* container-2 --  */
.container-2 {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.arbslk_V {
    width: 85%;
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.arbslk_V span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* container-2 -- end */
/* container-3 -- */
.container-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.cards_V {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    margin-top: 21px;
    background-color: rgba(227, 227, 227, 0);
    align-items: center;
    height: auto;
    border-radius: 10px;
    margin-bottom: 25px;
    flex: 0;
    flex-wrap: wrap;
    padding-left: 17px;
    padding-right: 17px;
}

.cd_I {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    margin-top: 21px;
}

.cd_pt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.cd_pt h5 {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.853);

}
.cd_pt p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.853);
    
}

.cd-btn {
    margin-bottom: 21px;
    margin-top: 14px;
}

.cd-btn a {
    text-decoration: none;
}
.cd-btn a:hover {
    color: #fff;
}
.cd-btn-1 {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    width: 130px;
    height: 35px;
    background-color: rgba(255, 241, 9, 0.853);
    box-shadow: 0px 8px 15px rgba(222, 164, 57, 0.635);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.cd-btn-1:hover {
    background-color: rgba(7, 152, 222, 0.763);
    box-shadow: 0px 15px 20px rgba(48, 78, 195, 0.611);
    color: #fff;
    transform: translateY(-7px);
}


/* container-3 -- end */

/* container-4 -- */
.cotainer-4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
}


/* container-4 -- end */

/* footer-- */
#fttr {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 21px;
    background-color: rgb(42, 41, 41);
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ftr {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 12px;
}

.ftr-lg {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 114;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.empty {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.ftr-features {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: flex-start;
}

.ftr-scl {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    margin-right: 0;
    min-width: 236px;
}
.ftrscl-ul i {
    font-size: 27px;
}
.ftrscl-ul {
    display: flex;
    flex-direction: column;
}
.ftrscl-ul ul {
    list-style-type: none;
}
.ftrscl-ul li {
    float: left;
    margin-right:15px ;
}
.ftrscl-ul a {
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
}

.imza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 42px;
    margin-top: 0px;
    font-size: 9px;
    font-weight: 600;
    color: rgba(222, 164, 57, 0.635);
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}
/* footer -- end */

/* dropdown */

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 6.7rem;
    top: calc(100% + 3rem);
    background-color: rgb(42,41,41);
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgb(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.dropdown.active > .nv4btn + .dropdown-menu {
    opacity: 1; 
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active > .nv4btn,
.nv4btn:hover {
    color: black;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links  {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    text-align: start;
    font-size: 13px;
}

.dropdown-links a {
    font-weight: 600;
    text-decoration: none;
    color: rgba(222, 164, 57, 0.435);
}

.dropdown-links a:hover {
    color: #fff;
}

/* changeColor nav scrolled */

.changeColor {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgb(0,0,0,.1);
    color: #000;
    border: 0;
}
