* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* nav-main */
.nav {
    margin-top: 0px;
    height: 54px;
    background-color: rgb(42, 41, 41);
    border-bottom: 2px solid #fff;
    display: flex;
    flex-direction: row;
    position: fixed;
    min-width: 767px;
    width: 100%;
    transition: 100ms ease-in-out background-color,
    100ms ease-in-out color;
    font-size: 1rem;

}

/* nav-logo */
.nv1 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.lg {
    display: flex;
    width: 50%;
    text-align: center;
    height: 74px;
}

.logo-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 44px;
    background-color: rgba(227, 227, 227, 0);
    font-size: 18px;
    font-weight: 500;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
    float: left;
    margin-left: 14px;
    margin-top: 9px;
}

.logo-btn:hover {
    color: #fff;
}

.logo-btn:hover a {
    color: #000;
}

/* nav-slogan*/
.nv3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    min-width: 0px;
}

/* nav--menu-bar */
.nv4 {

    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 767px;
    min-width: 564px;
    justify-content: center;
}

.nv4-1 {
    display: flex;
    justify-content: center;
    max-width: 767px;

}

.nv4-ul {
    list-style-type: none;
    text-align: center;
    min-width: 540px;
}

.nv4btn a {
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
    text-align: center;

}

.nv4btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    width: 85px;
    height: 35px;
    background-color: rgba(227, 227, 227, 0);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgba(222, 164, 57, 0.635);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    float: left;
    margin-right: 15px;
}
.nv4btn i {
    margin-bottom: 2px;
}
.nv4btn:hover p {
    color: #fff;
}
.nv4btn:hover a {
    color: #fff;
}

/* social-media */
.nv2 {
    display: flex;
    flex-direction: column;
    width: 6%;
    max-width: 90px;
    min-width: 90px;
    justify-content: center;
}

.nvscl1 {
    display: flex;
    text-align: center;
    max-width: 767px;

}

.nvscl-ul {
    list-style-type: none;
    padding: 0;
}

.nvscl-ul a {
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
    float: left;
    margin-right: 5px;
}
.nvscl-ul a:hover {
    color:#fff;
}

/* nav - end */

/* dropdown */

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 6.7rem;
    top: calc(100% + 3rem);
    background-color: rgb(42,41,41);
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgb(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.dropdown.active > .nv4btn + .dropdown-menu {
    opacity: 1; 
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active > .nv4btn,
.nv4btn:hover {
    color: black;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links  {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    text-align: start;
    font-size: 13px;
}

.dropdown-links a {
    font-weight: 600;
    text-decoration: none;
    color: rgba(222, 164, 57, 0.435);
}

.dropdown-links a:hover {
    color: #fff;
}


.container {
    display: flex;
    min-width: 768px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 61px;
    justify-content: center;
}
.articles {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-width: (80%-2.5rem);
}
.media {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    border: 2px solid rgba(227, 227, 227, .3);
    border-radius: .3rem;
    margin-top: 51px;
    max-width: 768px;
    flex-wrap: wrap;
}
.sp2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 24px;
    margin-top: 2rem;
    margin-left: 1.5rem;
    width: 100%;
}
.sp3 {
    font-size: 13px;
    text-indent: 1.5rem;
    margin: 1rem 1.5rem;
    align-items: center;
}
.sp3 img {
    width: 90%;
    margin: .5rem auto;
}
#sp1 {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    border-bottom: 2px solid rgba(32, 32, 32, 0.511);
    text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.511);
}

#sp1 h4 {
    font-weight: bold;
    font-size: 34px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-left: auto;
    margin-top: 51px;
    max-width: 250px;
}

/* user panel */
.info {
    display: flex;
    flex-direction: row;
}

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-pnl    {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 2px solid rgb(227, 227, 227,0.1);
    box-shadow:0px 8px 13px rgba(32, 32, 32, 0.511);
    border-radius: 4px;
    width: 250px;
    align-items: center;

    
}

.tp_1 {
    height: 50%;
    background-color: rgba(32, 32, 32, 0.15);
    width: 100%;
    border-radius: 4px;
}

.tp_2 {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.p1 {
    font-size: 13px;
    margin-top: -23px;
    color: black;
}
.tp_2 span {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#sp2 {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    font-size: 12px;
    margin-left: 12px;
    color: rgb(0,0,0,0.7);
    width: 100%;
    align-items: flex-start;
}
.tp_2 img {
    width: 54px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0,0.7);
    display: flex;
    position:relative; bottom: 35px;
    z-index: -1;
}

#sp3 ul {
    list-style-type: none;
    margin: 1rem 0;
}

#sp3 a {
    text-decoration: none;
    color: rgb(0,0,0,0.7);
    float: left;
    font-size: 11px;
    margin-right: .5rem;
    border: 0px solid rgb(0,0,0,0.7);
    margin-bottom: .5rem;
    background-color: rgba(32, 32, 32, 0.1);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    transition: all 0.3s ease 0ms;
}

#sp3 a:hover {
    transform: translateY(-3px);
}
/* news bar */
.bot-panel {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 2px solid rgb(227, 227, 227,0.1);
    box-shadow:0px 8px 13px rgba(32, 32, 32, 0.511);
    border-radius: 4px;
    width: 250px;
    align-items: flex-start;
    margin-top: 31px;

}

#sp4 {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: rgb(0,0,0,0.7);
    text-shadow: 0px 4px 8px rgba(32, 32, 32, 0.511);
    margin: 1.5rem 12px;
    margin-top: 1rem;
}

#sp5 {
    font-size: 11px;
    margin-left: -15px;
}
#sp5 ul {
    list-style-type: none;
    margin-top: -.5rem;
}
#sp5 a {
    text-decoration: none;
    color: rgb(0,0,0,0.7);
    margin-right: 7px;
}

#sp5 a:hover {
    text-decoration: underline;
    list-style-type: disc;
}

/* changeColor */

.changeNav{
    background-color: #fff;
    border: 0;
}

.changeNav a:hover {
    color: #000;
}

.changeNav p:hover {
    color: #000;
}

/* footer-- */
#fttr {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 21px;
    background-color: #fff;
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ftr {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 12px;
}

.ftr-lg {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 114;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.empty {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.ftr-features {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: flex-start;
}

.ftr-scl {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    margin-right: 0;
    min-width: 236px;
}
.ftrscl-ul i {
    font-size: 27px;
}
.ftrscl-ul {
    display: flex;
    flex-direction: column;
}
.ftrscl-ul ul {
    list-style-type: none;
}
.ftrscl-ul li {
    float: left;
    margin-right:15px ;
}
.ftrscl-ul a {
    text-decoration: none;
    color: rgba(222, 164, 57, 0.635);
}

.imza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 42px;
    margin-top: .5rem;
    font-size: 9px;
    font-weight: 600;
    color: rgba(222, 164, 57, 0.635);
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}
/* footer -- end */