/* main */
 body {
    margin: 0;
    display: block;
    height: auto;
    font-family:'Poppins', sans-serif;
}

/* nav-main */
.nav {
    margin-top: 0px;
    height: 54px;
    background-color: #fff;
    border-bottom: 2px solid #282327;
    display: flex;
    flex-direction: row;
    position: fixed;
    min-width: 767px;
    width: 100%;
    transition: 200ms ease-in-out background-color,
    200ms ease-in-out color;
    font-size: 1rem;
}

/* nav-logo */
.nv1 {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.lg {
    display: flex;
    width: 50%;
    text-align: center;
    height: 74px;
}

.logo-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 44px;
    background-color: rgba(227, 227, 227, 0);
    font-size: 18px;
    font-weight: 500;
    color: #000;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #282327;
    float: left;
    margin-left: 14px;
    margin-top: 9px;
}

.logo-btn:hover {
    color: rgba(222, 164, 57, 0.635);
}

.logo-btn:hover a {
    color: #000;
}

/* nav-slogan*/
.nv3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    min-width: 0px;
}

/* nav--menu-bar */
.nv4 {

    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 767px;
    min-width: 564px;
    justify-content: center;
}

.nv4-1 {
    display: flex;
    justify-content: center;
    margin-top: auto;
    max-width: 767px;

}

.nv4-ul {
    list-style-type: none;
    text-align: center;
    min-width: 540px;
}

.nv4btn a {
    text-decoration: none;
    color: #000;
    text-align: center;

}

.nv4btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-style: none;
    width: 85px;
    height: 35px;
    background-color: rgba(227, 227, 227, 0);
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #282327;
    float: left;
    margin-right: 15px;
}
.nv4btn i {
    margin-bottom: 2px;
}
.nv4btn:hover p {
    color: rgba(222, 164, 57, 0.635);
}
.nv4btn:hover a {
    color: rgba(222, 164, 57, 0.635);
}

/* social-media */
.nv2 {
    display: flex;
    flex-direction: column;
    width: 6%;
    max-width: 90px;
    min-width: 90px;
    justify-content: center;
}

.nvscl1 {
    display: flex;
    text-align: center;
    margin-top: auto;
    max-width: 767px;

}

.nvscl-ul {
    list-style-type: none;
    padding: 0;
}

.nvscl-ul a {
    text-decoration: none;
    color: #282327;
    float: left;
    margin-right: 5px;
}
.nvscl-ul a:hover {
    color:rgb(187, 12, 88);
}

/* nav - end */
/* head-1 - start */
.head_1 {
    display: flex;
}

.ttx {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 74px;
    justify-content: center;
}

.ttx_1 {
    margin-top: 21px;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
}

.ttx_2 {
    align-items: center;
    font-size: 28px;
    color: rgb(0,0,0,0.7);
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(32, 32, 32, 0.511);
}
/* container - start */

.container {
    display: flex;
    min-width: 768px;
}

.row    {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.articles {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-top: 2px solid rgba(32, 32, 32, 0.511);
}
/* media */
.media {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-top: calc(21px + 1.5rem);
    border: 2px solid rgb(227, 227, 227,0.1);
    box-shadow:0px 8px 13px rgba(32, 32, 32, 0.511);
    border-radius: 4px;
    max-width: 768px;
}
/* cards in media */
.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
    flex-wrap: wrap;
    max-width: 768px;
    justify-content: center;
}
.c1 {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.c_1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 0;
    border-radius: 3px;
    border-color: rgba(227,227,227,0.1);
    box-shadow: 0px 2px 5px rgba(32, 32, 32, 0.511);
    background-color: rgba(223, 223, 223, 0.1);
    margin-bottom: 32px;
    max-width: 584px;
}
.btn-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: rgb(0,0,0,0.7);
    align-items: center;
}
.c_1_t {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: start;
    padding-left:7px ;
    margin-top: 5px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    padding-right: 13px;
    transition: all 0.3s ease 0ms;
    max-width: 452px;


}
.c_1_t:hover {
    transform: translateY(-7px);
    color: rgb(0,0,0,0.7);
}
.c_1_t span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    border-bottom: 2px solid rgb(227, 227, 227);
    height: 21px;
}

.c_1_p {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: end;
    padding-right: 7px;
    margin-top: 13px;
}

.c_1_p i {
    width: 100%;
    font-size: 96px;
    margin-bottom: 21px;
    margin-top: 13px;
}

/* right bar */
.updt {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-left: auto;
    margin-top: 21px;
    max-width: 250px;
}
/* user panel */
.info {
    display: flex;
    flex-direction: row;
}

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top-pnl    {
    display: flex;
    flex-direction: column;
    height: autp;
    border: 2px solid rgb(227, 227, 227,0.1);
    box-shadow:0px 8px 13px rgba(32, 32, 32, 0.511);
    border-radius: 4px;
    width: 250px;
    align-items: center;
    margin-top: 1.5rem;

    
}

.tp_1 {
    height: 50%;
    background-color: rgba(32, 32, 32, 0.15);
    width: 100%;
    border-radius: 4px;
}

.tp_2 {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.p1 {
    font-size: 13px;
    margin-top: -23px;
    color: black;
}
.tp_2 span {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#sp2 {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    font-size: 12px;
    margin-left: 12px;
    color: rgb(0,0,0,0.7);
    width: 100%;
    align-items: flex-start;
}
.tp_2 img {
    width: 54px;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0,0.7);
    display: flex;
    position:relative; bottom: 35px;
    z-index: -1;
}

#sp3 ul {
    list-style-type: none;
    margin-top: -7px;
}

#sp3 a {
    text-decoration: none;
    color: rgb(0,0,0,0.7);
    float: left;
    font-size: 11px;
    margin-right: 5px;
    border: 0px solid rgb(0,0,0,0.7);
    margin-bottom: 5px;
    background-color: rgba(32, 32, 32, 0.1);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    transition: all 0.3s ease 0ms;
}

#sp3 a:hover {
    transform: translateY(-3px);
}
/* news bar */
.bot-panel {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 2px solid rgb(227, 227, 227,0.1);
    box-shadow:0px 8px 13px rgba(32, 32, 32, 0.511);
    border-radius: 4px;
    width: 250px;
    align-items: flex-start;
    margin-top: 31px;

}

#sp4 {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: rgb(0,0,0,0.7);
    text-shadow: 0px 4px 8px rgba(32, 32, 32, 0.511);
    margin: 1.5rem 12px;
    margin-top: -.3rem;
}

#sp5 {
    font-size: 11px;
    margin-left: -15px;
}
#sp5 ul {
    list-style-type: none;
    margin-top: -1.5rem;
}
#sp5 a {
    text-decoration: none;
    color: rgb(0,0,0,0.7);
    margin-right: 7px;
}


#sp5 a:hover {
    text-decoration: underline;
    list-style-type: disc;
}
/* form start */
.form-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items:flex-start;
    min-width: 768px;
}

.dstk_card {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: flex-start;
    justify-content:flex-start;
    margin-left: auto;
    margin-bottom: 21px;
    padding-bottom: 15px;
    margin-top: 51px;
}
.dstk_card span {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.853);
    text-shadow: 1px 1px 3px rgba(91, 91, 91, 0.546);
    text-align: center;
    font-size: 44px;
    margin-left: 50px;
    width: 30%;
    justify-content: center;
    margin-right: -30px;
}
.dstk_card form {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: rgba(0, 0, 0, 0.853);
    text-shadow: 1px 1px 1px rgba(91, 91, 91, 0.546);
    font-size: 14px;
    margin-left: 184px;
}
.dstk_card form textarea {
    width: 440px;
    border: 1px solid rgba(32, 32, 32, 0.511);
    background-color: rgb(227, 227, 227, 0.6);
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 13px;
}
.dstk_card form input {
    width: 430px;
    height: 27px;
    border: 1px solid rgba(32, 32, 32, 0.511);
    background-color: rgb(227, 227, 227, 0.6);
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
    
}

.dstk_card form button {
    width: 74px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    background-color: rgba(83, 81, 81, 0.1);
    border: 0;
    border-radius: 10px;
    height: 35px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.5px;
    box-shadow: 0px 8px 15px rgba(110, 109, 107, 0.635);
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;

}
.dstk_card form button:hover {
    transform: translateY(-5px);
}
.dstk_card form button a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.853);
}
.dstk_card form button:hover a {
    color: rgba(0, 0, 0, 0.853);
    text-decoration: none;
}
/* form end */
/* footer-- */
#fttr {
    margin-bottom: 0 !important ;
    margin-left: 0;
    margin-right: 0;
    margin-top: 21px;
    background-color: rgb(227,227,227,0);
    width: 100%;
    height: 124px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ftr {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 12px;
}

.ftr-lg {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 114;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.empty {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.ftr-features {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: flex-start;
}

.ftr-scl {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    margin-right: 0;
    min-width: 236px;
}
.ftrscl-ul i {
    font-size: 27px;
}
.ftrscl-ul {
    display: flex;
    flex-direction: column;
}
.ftrscl-ul ul {
    list-style-type: none;
}
.ftrscl-ul li {
    float: left;
    margin-right:15px ;
}
.ftrscl-ul a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.853);
}

.imza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 42px;
    margin-top: 0px;
    font-size: 9px;
    font-weight: 600;
    color: rgba(91, 91, 91, 0.778);
    letter-spacing: 0.2px;
    font-family: 'Roboto', sans-serif;
}
/* footer -- end */


/* dropdown */

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 6.4rem;
    top: calc(100% + 2.25rem);
    background-color: white;
    padding: .5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgb(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.dropdown.active > .nv4btn + .dropdown-menu {
    opacity: 1; 
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active > .nv4btn,
.nv4btn:hover {
    color: black;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links  {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    text-align: start;
    font-size: 13px;
}

.dropdown-links a {
    text-decoration: none;
    color: rgb(0, 0, 0, .7);
}

.dropdown-links a:hover {
    color: rgb(0, 0, 0,.3);
}

/* changeNav nav scrolled */

.changeNav {
    background-color: #fff;
    border: 0;
    box-shadow: 0px 2px 5px rgb(0,0,0,.1);
}